body {
  margin: 0;
  font-family: sans-serif,Gotham,gotham,Tahoma,Geneva;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#c5ebc3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
